/basicbbiv0/altium_src/History/
/basicbbiv0/altium_src/Project Logs for chipjabber-bbi-simple/
/basicbbiv0/altium_src/newae_pcbtemplate.PcbDoc.htm
/basicbbiv0/altium_src/__Previews
/basicbbiv1/mainpcb/basicbbiv1_altium/History
*.SchDocPreview
